body {
    position: relative;
    width: 60%;
    z-index: 15;
    left: 20%;
}

d-title {
    padding: 2rem 0 1.5rem;
    contain: layout style;
    overflow-x: hidden;
}

d-title h1 {
    grid-column: text;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1em;
    margin: 0 0 0.5rem;
}

.text4G {
    /* position: relative;
    width: 60%;
    z-index: 15;
    left: 20%; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    text-align: "justify";
    line-height: 150%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* G1 */
.g1-selected-image {
    outline: 5px solid gold;
}

.g1-line {
    stroke-width: 3;
}

.g1-mouse-per-line text {
    font-family: sans-serif;
}

.g1-heatmap text {
    font-size: 13px;
    font-weight: bold;
}

/* G2 & G3 */

.area_g2 {
    pointer-events:all;
}

.area_g2:hover {
    stroke:black;
    stroke-width: 2;
}

.y_axis .tick text {
    font-size: 10px;
    font-weight: bold;
    fill: black;
}

.y_axis path.domain {
    stroke: black;
}

.x_axis .tick text {
    font-size: 10px;
    font-weight: bold;
    fill: black;
}

.x_axis path.domain {
    stroke: black;
}

.bar rect:hover {
    stroke: black;
}

.bar rect text {
    opacity: 0;
}

.bar rect:hover text {
    opacity: 1;
}

.axis_label {
    font-size: 16px;
    font-weight: 600;
    fill: black;
}

.area_g3 {
    pointer-events:all;
}

.area_g3:hover {
    stroke:black;
    stroke-width: 2;
}

/* G4 */
.g4-line {
    stroke-width: 3;
}

.g4-mouse-per-line text {
    font-family: sans-serif;
}

/* G5 */
circle { cursor: pointer; }