body {
  position: relative;
  width: 100%;
  z-index: 15;
  left: 0%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.fixed-view {
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0; /* Example background color */
  height: 100vh;
  overflow: hidden;
}
.scrollable-views {
  width: 55%;
  margin-left: 45%;
  overflow-y: auto;
  height: 100vh;
}

.scatterplot {
  width: 100%;
  height: 100%;
}
.scatterplot svg {
  width: 100%;
  height: 100%;
}

#G2 {
  display: inline-flex;
}

#G3 {
  display: inline-flex;
}

d-title {
  padding: 2rem 0 1.5rem;
  contain: layout style;
  overflow-x: hidden;
  text-align: left;
}

d-title h1 {
  grid-column: text;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
}

li {
  /* position: relative;
    width: 60%;
    z-index: 15;
    left: 20%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 1.5rem;
  text-align: "justify";
  line-height: 150%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.text4G {
  /* position: relative;
    width: 60%;
    z-index: 15;
    left: 20%; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 1.5rem;
  text-align: "justify";
  line-height: 150%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.div4G {
  width: 100%;
}

/* G1 */
#G1 {
  display: block;
  margin: 0 auto;
}

.g1-selected-image {
  outline: 5px solid #b41930;
}

.top-right-image {
  outline: 2.5px solid #b41930;
}

.g1-line {
  stroke-width: 3;
}

.g1-mouse-per-line text {
  font-family: sans-serif;
}

.g1-heatmap text {
  font-size: 13px;
  font-weight: bold;
}

/* G2 & G3 */

.y_axis .tick text {
  font-size: 10px;
  font-weight: bold;
  fill: black;
}

.y_axis path.domain {
  stroke: black;
}

.x_axis .tick text {
  font-size: 10px;
  font-weight: bold;
  fill: black;
}

.x_axis path.domain {
  stroke: black;
}

.bar rect:hover {
  stroke: black;
}

.bar rect text {
  opacity: 0;
}

.bar rect:hover text {
  opacity: 1;
}

.axis_label {
  font-size: 16px;
  font-weight: 600;
  fill: black;
}

.area_g3 {
  pointer-events: all;
}

/* G4 */
.g4-line {
  stroke-width: 3;
}

.g4-mouse-per-line text {
  font-family: sans-serif;
}

/* G5 */
circle {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.button4G4 {
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ffa500; /* Dark Orange */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button4G4:hover {
  background-color: #ff8c00; /* Light Orange */
}
.button4G4.clicked {
  background-color: #ff4500; /* Orange Red */
  transform: scale(1.1);
}
